

p:hover{
    background-color: bisque;
}
h1:hover{
    background-color: bisque;
}
h3:hover{
    background-color: bisque;
}
select:hover{
    background-color: bisque;
}
input:hover{
    background-color: bisque;
}
option:hover{
    background-color: bisque;
}