body
{
    margin: 0 auto;
    padding: 0;
    width: 980px;
}
.header {
    float: left;
    width: 980px;
    background-color: chocolate;
    height: 80px;
    text-align: center;

}
.swap {
    float: left;
    width: 980px;
    border:1px solid #AAA;

}
.header2 {
    text-align: center;
    padding: 15px;
    float: left;
    width: 950px;
    background-color: lightgray;
    border:1px solid #AAA;
}
.main {

    width: 980px;
    float: left;
    background-color: aqua;
    height: 450px;
    border:1px solid #AAA;
}
.content {
    width: 700px;
    float: left;
    background-color: lightblue;
    border:1px solid #AAA;
}
.nav
{
    text-align: center;
    width: 180px;
    float: left;
    background-color: lightgreen;
    height: 450px;
    border:1px solid #AAA;
}

.footer {
    width: 980px;
    float: left;
    background-color: green;
    height: 50px;
    border:1px solid #AAA;
}
#s1 {
    float: left;
    padding: 0px;
    font-size: 50px;
}

