button {
    color: white;
    background-color: green;
    text-align: center;
    font-weight: bolder;
    width: 80px; height: 30px;
}
body {
    background-color: antiquewhite;
}
td {
    background-color: ivory;
text-align: center;
}