
body{
    background: antiquewhite;
}
h1{
    margin-left: 13cm;
    color:red;
    ;
}
#p1{
    color:black;
    margin-left: 13cm}
#img\ 1{float: right;
    margin-left: 20px;
}
h2{
    color: blue;
}
p{
    margin-left: 0.5cm;
}

